doctype html(lang='fr')
head
    meta(charset='UTF-8')
    title SP Admin Panel
  body
    h1 Superpowers Remote Panel
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascript/client.js")
    p #{servStatus}
    form#updateSP(action='/', method='post')
      div
        label(for='link') URL :
        input#link(type='text', name='updatelink')
      .button
        button(type='submit') Mettre &agrave; jour SP
    form#plugins(action='/') 
      select#pluginVendors(onchange='selectAuthorChanged(this.options[this.selectedIndex].text)' name='pluginVendors')
      select#pluginFromVendor(name='pluginFromVendor')
      button(type='button', onclick='buttonRemovePlugin()', name='Remove')  Remove
      button(type='button', onclick='buttonRemovePlugin()', name='Disable') Disable