doctype html(lang='fr')
head
    meta(charset='UTF-8')
    title SP Admin Panel
  body
    h1 Superpowers Remote Panel
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascript/client.js")
    p #{servStatus}
    table#plugins
      tr
        td
      tr
        td
    form(action='/', method='post')
      div
        label(for='link') URL :
        input#link(type='text', name='updatelink')
      .button
        button(type='submit') Mettre &agrave; jour SP